@{
    ViewData["Title"] = "Change Password";
}
<div class="catalog">
    <div class="container pt-3 pb-5" style=" width: 60%;">
        <h1 style="font-family: 'Permanent Marker', cursive; font-size:4vw; color: navy" class="text-center mb-3 mt-5">Change Password</h1>

        <div class="form-group my-3">
            <label for="passwordOld">Old Password </label>
            <input type="password" class="form-control form-control-lg" id="passwordOld" placeholder="Enter old password.">
        </div>
        <div class="form-group my-3">
            <label for="passwordNew">New Password </label>
            <input type="password" class="form-control form-control-lg" id="passwordNew" placeholder="Should be 8 characters.(should not contain spaces)">
        </div>
        <div class="form-group my-3">
            <label for="CpasswordNew">Confirm New Password </label>
            <input type="password" class="form-control form-control-lg" id="CpasswordNew" placeholder="Enter new password again.">
        </div>
        <button class="text-center btn my-2 btn-lg " style="margin-left : 45%;background-color :navy;color:white;">Submit</button>

        <h1 style="font-family: 'Permanent Marker', cursive; font-size:4vw; color: navy" class="text-center mb-3 mt-5">Logout Of Your Account</h1>
        <a class="text-center btn my-2 btn-lg " style="margin-left : 45%;background-color :navy;color:white;">Logout</a>

    </div>
</div>