
@{
	ViewData["Title"] = "Order Placed";
	BuyerModel thisUser = ViewBag.user;
}

@section NavList
{
<partial name="_NavBarBuyer" model="@thisUser" />
}

<div class="catalog py-5">
	<div class="container py-5 my-5" style=" width: 60%;font-size:larger">
		<h1 style="font-family: 'Permanent Marker', cursive; font-size:5vw; color: navy" class="mt-2 pt-5 pb-3">Order Placed!</h1>

		<p class="mb-5 pb-5 text-black" style="font-size:x-large; font-weight:700">Your Order has been placed. Thank you for using our services!</p>
	</div>
</div>